obj/
bin/HeadRoomRS_debug.exp
*.db
.vs/
.vscode/
x64/
*.exp
bin/HeadSpaceRS.ipdb
bin/HeadSpaceRS.iobj
*.bag
bin/DLLS/
bin/fmodex64.dll
bin/fmodexL64.dll
bin/FreeImage.dll
bin/HeadSpaceRS*.*
HeadSpaceRS.vcxproj.user
icon.aps
/bin/the-hole.lib
/bin/the-hole.exe
/bin/realsense2.dll
/bin/Intel.Realsense.dll
